html {
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
body{
    font-family:'Roboto';
    margin: 0;
}
.intro > div{
    width: 47%;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding: 59px 0;
    align-items: center;
    /* justify-container - свойство устанавливающее правило расположения дочерних элементов х
        space-beetwen - все элементы  распологаются равномерно по ширине, а крайние прилегают по краям
        center - центрирует все элемнты
        spaçe-around - все элементы распологаются равномерно по ширине, а крайние имеют расстояние от краев равно половине расстояния других элементов друг от друга
        left, right, baseline, end, start*/
    padding: 59px 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.container{
    max-width: 1157px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.intro-text {
    margin: 24px 0;
    font-size: 20px;
    color: #30444E;
}


.intro-title{
    color: #1F2E35;
    font-size: 48px;
    font-weight: bold
}

.intro-title > span, .info-title > span, .info-text > span {
    color: #EE4248;
}

.intro-btn{
    display: inline-block;
    color: #FFFFFF;
    background-color: #EE4248;
    padding: 12px 32px;
    border-radius: 4px;
}

.info-content {
    width: 45%;
}

.info {
    background-color: #F6F6F6;
    align-items: center;
}

.info2-content{
    width: 24%;
    padding-top: 200px;

}

.info-title{
    font-size: 32px;
    color: #1F2E35;
}

.info-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-img {
    align-items: end;
}

.info-article {
    margin-top: 24px;
    color: #30444E;
    font-size: 18px;
}
.info-text:nth-child(2) {
    margin-top: 18px;
}

.info2-img {
    margin-bottom: 15px;
}

.info2-text {
    line-height: 150%;
    color: #30444E;
    font-size: 18px;
    margin-bottom: 15px;
}

.info2-title {
    font-size: 28px;
    color: #EE4248;
    margin-bottom: 15px;
}

.logo-left {
    display: flex;
}

.logo-left > span {
    color: #85171A;
    font-size: 48px;
    font-weight: 900;
}

.logo-left > span:nth-child(2) {
    color: #DC2025;
    font-size: 48px;
    font-weight: 900;
}

.logo-left > span:last-child {
    color: #FEBA08;
    font-size: 48px;
    font-weight: 900;
}

.footer-info-text {
    color: #263238;
    font-size: 18px;
}

.footer-info {
    display: flex;
    padding-top: 115px;
    padding-bottom: 13px;
    align-items: end;
    gap: 47px;
    line-height: 149%;
}

.footer-info-title {
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 700;
}

.footer-contacts-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.logo {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.logo-right {
    font-size: 10px;
    line-height: 135%;
    font-weight: 700;
}

.logo-right > span {
    color: #85171A;
    display: flex;
}

.logo-right > span:nth-child(2) {
    color: #DC2025;
}

.logo-right > span:last-child {
    color: #FEBA08;
}

.footer-rights {
    padding: 22px 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #EE4248;
    text-align: center;
}

/* .footer-info-item {
    gap: 47px;

} */

/* line-height - изменяет высоту строки */
/* gap- создает разрыв между flex - элементами */
/* text align - изменяет положение текста */